<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>A new brave world</title>
  </head>

  <body>
    <main class="container">
      <h1>A new brave world</h1>
      <div>{{.content}}</div>
    </main>
    <footer class="footer">
      <p>&copy; 2023 A New World</p>
    </footer>
  </body>
</html>
