* {
  padding: 0;
  margin: 0;
  font-family: "IoSevka", sans-serif;
}

body {
  background: rgb(255, 253, 253);
  cursor: url("../images/testing/cursor.gif"), auto;
}

.post_name {
  line-height: 1.2;
}

#title {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
