* {
  padding: 0;
  font-family: "IoSevka", sans-serif;
  background: rgb(255, 253, 253);
  scrollbar-width: none;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.post_name {
  line-height: 10;
}

#title {
  font-size: 4em;
  height: 100vh;
  background: -webkit-canvas(cool_ass_animation);
}